@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300,400,400i,700&display=swap");

/* *** GENERAL STYLES *** */

:root {
  --darkblue: #003459;
  --blue: #007ea7;
  --lightblue: #9fe5ff;
  --white: #ffffff;
  --black: #00171f;
  --ubuntu: "Ubuntu", sans-serif;
  --ubuntu-mono: "Ubuntu Mono", monospace;
  --rainbow-animation: rainbow 2s ease-in-out;
  --link-color: rgb(137, 192, 255);
  --gradient: linear-gradient(20deg, #12c2e9, #c471ed, #f64f59);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ubuntu);
  background-color: var(--darkblue);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

a,
i {
  transition: 0.2s ease all;
}

p a {
  color: var(--link-color);
  display: inline-block;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: var(--rainbow-animation);
}

p a:hover {
  color: rgba(255, 255, 255, 0);
}

p,
ul {
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

abbr {
  text-decoration: none;
  cursor: help;
  font-style: italic;
}

::selection {
  background: var(--blue);
}

.small-txt {
  font-size: 0.8rem;
}

section h1 {
  margin-top: 0;
}

/* ELEMENTS */

.btn {
  text-decoration: none;
  color: var(--white);
  padding: 1rem 2rem;
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  transition: 0.1s ease all;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--blue);
}

.border {
  border: 6px solid var(--white);
}

#featured-work .box {
  background: linear-gradient(180deg, #1c92d2, #f2fcfe);
}

#featured-work .box img {
  width: 100%;
  display: block;
  transition: 0.3s ease all;
}

#featured-work .box img:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.45);
}

.social {
  position: fixed;
  bottom: 4.5rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: zoom-from-bottom;
  animation-duration: 1s;
}

.social i {
  font-size: 2.5rem;
  margin-top: 3rem;
  color: var(--link-color);
  display: block;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: var(--rainbow-animation);
}

.social i:hover {
  color: rgba(255, 255, 255, 0);
}

.email {
  position: fixed;
  bottom: 4.5rem;
  right: 2rem;
  writing-mode: vertical-rl;
}

.email a {
  color: var(--link-color);
  letter-spacing: 0.2rem;
  font-family: var(--ubuntu-mono);
  font-size: 1.1rem;
  transition: color 0.2s ease all;
  display: block;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: var(--rainbow-animation);
}

.email a:hover {
  color: rgba(255, 255, 255, 0);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loadMore {
  width: 400px;
  max-width: 100%;
  margin: 3rem auto;
  outline: none;
  display: block;
  font-size: 18px;
  font-family: var(--ubuntu);
  text-transform: uppercase;
}

/* *** NAVBAR *** */

#logo {
  width: 50px;
  max-width: 100%;
  margin: 1rem 0;
  transition: 0.3s ease all;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: var(--darkblue);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */

  transition: 0.3s ease all;
  font-size: 0;
  z-index: 999;
  max-width: 90%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
}

.nav-item {
  font-weight: lighter;
  padding: 0.5rem 1rem;
  transition: color 0.2s ease all;
  display: block;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: var(--rainbow-animation);
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0);
}

.burger div {
  width: 28px;
  height: 3px;
  background-color: var(--white);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.nav-line {
  display: none;
}

/* *** END NAVBAR *** */

/* LAYOUT */

main {
  padding-bottom: 4rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.piece {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.grid-2-col:nth-of-type(1) .piece:nth-of-type(even) {
  flex-direction: row-reverse;
}

.grid-2-col:nth-of-type(2) .piece:nth-of-type(odd) {
  flex-direction: row-reverse;
}

#featured-work .grid-2-col {
  grid-template-columns: 1fr;
}

.piece div {
  width: 100%;
  margin-right: 2rem;
}

.div-col-2:nth-of-type(even) {
  margin-right: 0;
}

/* .col-1,
.col-2 {
  padding-bottom: 2rem;
} */

.col-2 h2 {
  margin-top: 0;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.responsive {
  display: none;
}

.box {
  height: auto;
  width: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .wrapper {
  overflow-x: hidden;
} */

.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

section {
  min-height: 80vh;
  padding-bottom: 2rem;
}

.section-heading {
  font-size: 4rem;
  font-weight: 300;
  position: relative;
}

.section-heading::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--blue);
  position: relative;
  top: -2rem;
  margin-left: 15rem;
  z-index: -1;
}

.section-heading {
  overflow: hidden;
}

#featured-work .section-heading::after {
  margin-left: 30rem;
}

/* *** HOME SECTION *** */
.hero {
  margin-top: 15rem;
}

.hero h1 {
  font-size: 1vw;
  font-weight: 300;
  margin: 0;
  animation-name: zoom-from-left;
  animation-duration: 1.5s;
}

.hero h2 {
  font-size: 6vw;
  font-weight: bold;
  margin: 0;
  animation-name: zoom-from-left;
  animation-duration: 1s;
}

.hero h3 {
  font-size: 3vw;
  color: var(--blue);
  margin: 0;
  animation-name: zoom-from-left;
  animation-duration: .5s;
}

.hero p {
  margin: 3rem 0 4rem 0;
  width: 700px;
  max-width: 90%;
  font-size: 1.22rem;
  font-weight: 300;
  animation-name: fade-in;
  animation-duration: 2s;
}

.hero .btn {
  animation-name: fade-in;
  animation-duration: 2s;
}

/* *** END HOME SECTION *** */

/* *** ABOUT SECTION *** */
#my-picture {
  width: 100%;
}

/* *** END ABOUT SECTION *** */

footer {
  width: 100%;
  background: var(--black);
  text-align: center;
  color: var(--lightblue);
  padding: 0.1rem 0;
}

footer p {
  font-size: 1rem;
  line-height: 1;
  font-family: var(--ubuntu-mono);
}

/* *** FEATURED WORK SECTION *** */
.tools {
  font-family: var(--ubuntu-mono);
  margin-bottom: 3rem;
}

.tools ul {
  display: flex;
  flex-wrap: wrap;
}

.tools ul li {
  margin-right: 2rem;
}

/* *** END FEATURED WORK SECTION *** */

/* *** CONTACT FORM *** */
/* THANKS TO  Dev Ed for his tutorial on how to do the contact form animations - https://www.youtube.com/watch?v=IxRJ8vplzAo*/
.form {
  position: relative;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  padding-top: 1.5rem;
  border: none;
  width: 100%;
  background: none;
  font-family: var(--ubuntu);
  font-weight: lighter;
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
}

.name-box,
.email-box,
.message-box {
  position: relative;
  margin: 1rem 0;
  width: 100%;
}

.name-box {
  margin-right: 2rem;
}

.name-box label,
.email-box label,
.message-box label {
  font-family: var(--ubuntu-mono);
  color: var(--lightblue);
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--blue);
  height: 50px;
  overflow: hidden;
  background: none;
}

.name-box label::after,
.email-box label::after,
.message-box label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--blue);
  transform: translateX(-100%);
  transition: 0.3s ease all;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: 0.3s ease all;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name,
.form textarea:focus+.label-name .content-name,
.form textarea:valid+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 1rem;
  color: var(--blue);
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after,
.form textarea:focus+.label-name::after,
.form textarea:valid+.label-name::after {
  transform: translateX(0%);
}

#send {
  width: 45%;
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: var(--ubuntu);
}

/* *** END CONTACT FORM *** */

/* *** ANIMATIONS *** */
.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoom-from-left {
  from {
    transform: translateX(-120%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes zoom-from-bottom {
  from {
    transform: translateY(150%);
  }

  to {
    transform: translateX(0);
  }
}

/* *** END ANIMATIONS *** */

/* *** MEDIA QUERIES *** */
@media screen and (max-width: 1024px) {
  .grid-2-col {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .grid-2-col div {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .piece {
    padding: 2rem 0;
  }

  .piece div {
    margin-right: 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: rgba(26, 26, 26, 0.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }

  #featured-work h2 {
    margin-top: 1rem;
  }

  .responsive {
    display: block;
  }

  .social {
    display: none;
  }

  .email {
    display: none;
  }

  .piece {
    display: block;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-line {
    display: block;
    width: 90%;
    border: 1px solid #fff;
  }

  .hero {
    margin-top: 10rem;
  }

  .hero h1 {
    font-size: 1rem;
  }

  .hero h2 {
    font-size: 5rem;
  }

  .hero h3 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .section-heading {
    font-size: 3rem;
  }

  .section-heading::after {
    display: none;
  }

  .grid-2-col {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .grid-3-col {
    grid-template-columns: 1fr;
  }

  .flex {
    flex-direction: column;
  }

  .name-box {
    margin-right: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}